body { margin: 0; }

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fcd685; /*rgb(144, 96, 59);*/
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

li.nav {
  display: inline-block;
}

li.nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav a:hover:not(.active) {
  background-color: #00000029;
}

.active {
  background-color: rgb(222, 172, 138);
}
